.logo{
    width: 340px;
}

.present{
    background-color: green;
}

.item-upload{
    font-size: smaller;
}

.validation{
    background-color: rgb(65, 63, 66);
    min-height: 700px;
    color: white;
    padding-top: 20px;
}

#student{
    width: -webkit-fill-available;
}